<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css">

  <title>@ViewBag.Title</title>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <a asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
      <a asp-controller="Post" asp-action="Edit" class="navbar-brand">Post</a>
    </div>
  </nav>

  <div class="container">
    @RenderBody()
  </div>
  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>